#!/usr/bin/make -f

DISTRIBUTION = $(shell lsb_release -sc)
VERSION := $(shell date +%Y.%m.%d-%H%M%S)
DEBVERSION := $(VERSION)-0~$(DISTRIBUTION)0

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol -- -v$(DEBVERSION)
