#!/usr/bin/make -f

DISTRIBUTION = $(shell lsb_release -sc)
VERSION := $(shell grep defproject project.clj | awk '{print $$3}')
DEBVERSION := $(VERSION)-$(shell date +%Y%m%d-%H%M%S)~$(DISTRIBUTION)0

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol -- -v$(DEBVERSION)

override_dh_link:
	dh_link usr/share/java/riemann-grid-*-standalone.jar usr/share/java/riemann-grid.jar
